<h3>Hi <%= @user.name %>,</h3>
<br>
<p>This is your reset password link:</p>
<br>
<p>
  <a href="http://localhost:3001/passwordreset/<%= @user.reset_password_token %>">Password Reset Link</a></p>
<br>
<p>Your token will expire in 1hr.</p>
<br>
<img src="https://i.ibb.co/17vqgqX/logo.png" alt="logo" border="0">
<h6>CEO</h6>
<h5>Richard Braamburg</h5>