body {
  background-color: black;
  color: white;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  outline: 1px solid aquamarine;
}

/////////////////// CHATBOX ///////////////////

.chatBoard {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 40vh;
  width: 22vw;
  // background-color: darkcyan;
  // transform: translateY(-50%);

  iframe {
    position: absolute;
    background-color: darkcyan;
    height: 40vh;
    width: 22vw;
    transition: 1s;
    // border: 1px solid red;

    &.is-active {
      left: 0;
      top: 0;
    }

    &.not-active {
      left: 0;
      top: 39vh;
    }
  }

  .toggleChat {
    position: absolute;
    background: none;
    border: none;
    bottom: 1vh;
    right: 1vh;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3em;
    transition: color 1s;
  }

  .grayed-out {
    color: rgba(255, 255, 255, 0.2);
  }
}

/////////////////// HEADER ///////////////////

.header {
  margin: 0;
  padding: 0;

  button {
    margin: 0;
    padding: 0;
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 15px;
    border: 1px solid white;
    background-color: orange;
    color: white;
    font-weight: 900;
    box-shadow: 1px 1px 1px blue;

    &:hover {
      box-shadow: 3px 3px 3px blue;
    }
  }

  input {
    height: 6vh;
    width: 20vw;
  }
}

.head-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.head-left {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  width: 8vw;
  height: 40vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 10;
  align-items: center;
  transition: 1s;
}

.show-menu {
  left: 0vw;
}

.hide-menu {
  left: -7.5vw;
}

.edm-logo {
  height: 80%;
  width: 10%;
}

.user_avatar {
  height: 7.5vh;
  border-radius: 50%;
}

/////////////////// LOGIN ///////////////////

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin: 2vh 2vw;
    padding: 1vh 1vw;
    width: 25vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::placeholder {
      color: blue;
      font-weight: 500;
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}

/////////////////// MAIN ///////////////////

main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main_container {
    display: grid;
    // grid-auto-columns: 100%;
    // grid-column: grow;
    grid-template-columns: repeat(4, 50vw);
    margin-left: 100vw;

    .ind_vid_container {
      margin: 1vh 1vw;
      // padding: 1vh 1vw;
      width: 50vw;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      color: pink;
      font-size: 4em;
    }
  }
}

/////////////////// MAIN ///////////////////

.single-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}