$prim-bckgrnd: rgb(48, 48, 48);
$prim-bckgrnd-a: rgba(48, 48, 48, 0.8);
$scnd-gray-dark-a: rgba(255, 255, 255, 0.7);
$scnd-gray-light-a: rgba(255, 255, 255, 0.2);

body {
  background-color: white;
  color: white;
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  // outline: 1px solid aquamarine;
}

#test {
  height: 20vh;
  width: 20vw;
  position: fixed;
  left: 50;
  top: 50;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.7);
}

/////////////////// CHATBOX ///////////////////

.chatBoard {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 40vh;
  width: 22vw;
  z-index: -1;

  .chatApp {
    position: absolute;
    // background-color: darkcyan;
    height: 40vh;
    width: 22vw;
    transition: 1s;
    z-index: 99;

    &.is-active {
      left: 0;
      top: 0;
    }

    &.not-active {
      left: 0;
      top: 39vh;
    }
  }

  .toggleChat {
    position: absolute;
    background: none;
    border: none;
    bottom: 1vh;
    right: 1vh;
    color: black;
    font-size: 3em;
    transition: color 1s;
    z-index: 100;
  }

  .grayed-out {
    color: $scnd-gray-light-a;
  }
}

/////////////////// HEADER ///////////////////

.header {
  margin: 0;
  padding: 0;
  z-index: 99;

  button {
    padding: 0;
    width: 10vh;
    height: 7.5vh;
    border-radius: 2px;
    outline: 1px ridge red;
    outline-offset: -0.5vh;
    outline-style: ridge;
    border: 0.5px solid white;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.3s ease-in;

    &:hover {
      color: white;
      background: black;
    }
  }

  input {
    height: 6vh;
    width: 20vw;
  }
}

.head-top {
  position: fixed;
  background-color: $prim-bckgrnd-a;
  // background-color: rgb(0,84,74);
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .user_avatar {
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 50%;
    border: 0.5px solid lightgrey;
    background-color: black;
  }

  .spinning_gif {
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 50%;
    border: 0.5px solid lightgrey;
    background-color: black;
  }
}

.head-left {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  width: 7vw;
  height: 40vh;
  background: $prim-bckgrnd-a;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 10;
  align-items: center;
  transition: 1s;

  button {
    margin: 0 1vw;
  }
}

.show-menu {
  left: 0vw;
}

.hide-menu {
  left: -6.5vw;
}

.edm-logo {
  height: 80%;
  width: 10%;
}

/////////////////// LOGIN / REGISTER ///////////////////

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5vh 0.5vw 1.5vh 0.5vw;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-size: 1.5em;
  background-color: $prim-bckgrnd-a;

  .profile_picture {
    border-radius: 50%;
    height: 40vh;
    width: 40vh;
    border: 0.5px lightgrey solid;
    background-color: lightgrey;
  }

  input {
    margin: 2vh 0.5vw;
    padding: 1vh 1vw;
    width: 30vw;
    height: 8vh;
    display: flex;
    font-size: 1.8em;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    caret-color: red;

    &::placeholder {
      font-size: 1em;
      color: white;
      text-transform: uppercase;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .form_options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
      width: 20vw;
      margin: 0.5vh 0.5vw;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.post_button {
  height: 4vh;
  width: 15vw;
  margin: 0.1vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.post_button:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.post_button:active {
  position: relative;
  top: 1px;
}
// }

/////////////////// MAIN ///////////////////

main {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main_container,
  .single_video {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .ind_vid_container {
      background-color: $prim-bckgrnd;
      margin: 1vh 1vw;
      padding: 0 1vw 0 1vw;
      width: 40vw;
      height: 70vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: left;
      border: 0.5px solid lightgrey;
      box-shadow: 1px 1px 5px black;

      .video_header {
        margin: 2vh auto;
        font-size: 1.2em;
      }

      .video_container {
        position: relative;
        margin: 1vh -0.5vw;
        width: 41vw;
        height: 30vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        box-shadow: 1px 1px 5px black;

        .react_player {
          width: 100%;
          height: 100%;
          z-index: 0;
        }
      }
      .post_age {
        font-size: 0.5em;
        font-weight: 500;
        padding: 0;
        margin: 0.5vh 0 1vh 0;
      }

      .post_artist {
        font-size: 0.9em;
        font-weight: 500;
        padding: 0;
        margin: 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 0.1vh;
          background-color: red;
          z-index: 5;
        }
      }

      .comment_options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .post_button {
          height: 4vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 0.5vw 0 0;
          box-shadow: inset 0px 1px 0px 0px #f29c93;
          background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
          background-color: #fe1a00;
          border-radius: 6px;
          border: 1px solid #d83526;
          display: inline-block;
          cursor: pointer;
          color: #ffffff;
          font-family: Arial;
          font-size: 15px;
          font-weight: bold;
          padding: 6px 24px;
          text-decoration: none;
          text-shadow: 0px 1px 0px #b23e35;
        }
        .post_button:hover {
          background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
          background-color: #ce0100;
        }
        .post_button:active {
          position: relative;
          top: 1px;
        }

        .like_button {
          font-size: 1.5em;
          transition: 0.5 ease;
        }

        .boring {
          color: $scnd-gray-light-a;
        }

        .love-it {
          color: red;
        }
      }
    }

    a,
    a > h4 {
      color: white;
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}

/////////////////// MAIN ///////////////////

.single_video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 50vw;
}

/////////////////// COMMENTS ///////////////////

.edit_text_field {
  background: $prim-bckgrnd-a;
  color: white;
  font-size: 1em;
  border: 0.5px solid red;
  width: 100%;
  margin: 0;
  padding: 0.5vh 0 0.5vh 0.5vw;
}

.comment_header {
  font-weight: 500;
  font-size: 1em;
  position: relative;

  &::after {
    content: "";
    height: 10%;
    width: 100%;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -0.5vh;
  }
}

.comment_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5vh auto;

  input {
    width: 85%;
    height: 5vh;
  }

  button {
    width: 15%;
    height: 6vh;
    margin: 0;
    padding: 0;
  }
}

.ind_comment {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin: 1vh 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  overflow: hidden;

  p {
    width: 100%;
    margin: 0;
    padding: 0.5vh 0 0.5vh 0.5vw;
  }

  h5 {
    width: 100%;
    margin: 0;
    font-style: italic;
    padding: 0 0 0 0.5vw;
  }

  h6 {
    width: 100%;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 0.5vw;
  }

  .comment_options {
    position: absolute;
    right: 1vw;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
