.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#model {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test_form {
  position: fixed;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}

.test_form > input {
  width: 50vw;
  height: 10vh;
  font-size: 2em;
}